---
import { NoScrollbar } from "@evex-ui";
import "@/styles/global.css";
import Header from "./header.astro";

interface Props {
    title: string;
}

const {
    title
} = Astro.props;

const description = "Evex UI is beautiful web ui component written by react and tailwindcss, unocss.";

const origin = Astro.url.origin;

---
<!DOCTYPE html>
<html class="dark" lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.png" />
        <title>Evex UI - {title}</title>
        <meta name="description" content={description} />
        <meta name="generator" content={Astro.generator} />
        <meta name="keywords" content="evex,evex dev,evex ui" />
        <meta name="creator" content="@EdamAme-x" />
        <meta name="publisher" content="@EdamAme-x" />
        <meta name="robots" content="index, follow" />
        <meta property="og:title" content={`Evex UI - ${title}`} />
        <meta property="og:description" content={description} />
        <meta property="og:url" content={origin} />
        <meta property="og:site_name" content={title} />
        <meta property="og:locale" content="en_US" />
        <meta property="og:image" content={`${origin}/favicon.png`} />
        <meta property="og:type" content="website" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content={`Evex UI - ${title}`} />
        <meta name="twitter:description" content={description} />
        <meta name="twitter:image" content={`${origin}/favicon.png`} />
        <script is:inline>
	        const getThemePreference = () => {
	        	if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
	        		return localStorage.getItem('theme');
	        	}
	        	return 'dark';
	        };
	        const isDark = getThemePreference() === 'dark';
	        document.documentElement.classList[isDark ? 'add' : 'remove']('dark');
        
	        if (typeof localStorage !== 'undefined') {
	        	const observer = new MutationObserver(() => {
	        		const isDark = document.documentElement.classList.contains('dark');
	        		localStorage.setItem('theme', isDark ? 'dark' : 'light');
	        	});
	        	observer.observe(document.documentElement, { attributes: true, attributeFilter: ['class'] });
	        }
        </script>
    </head>
    <body class="min-w-full min-h-screen">
        <NoScrollbar isGlobal>
            <Header />
            <slot />
        </NoScrollbar>
    </body>
</html>
